body{
    background-color: #e7fffb;
    margin: 15px;
    padding: 15px;
    font-size: 30px;
}

/* input[type="radio" ]{
    
}
input[type="number"]{
    
}
input[type="checkbox"]{
    
}
textarea{

} */
#mood{
display: inline-grid;
}
#water{

}
#meals{

}
#medication{

}
#journal{

}