  body{
    background-color: #e7fffb;
    margin: 15px;
    padding: 15px;
    font-size: 30px;
  }
  .list{
    font-size: 45px;
  }
  .list-faq{
    font-size: 25px;
  }
  #list{
    font-size: 45px;
  }
  .todo-list {
    font-size: 27px;
    font-weight: 600;
    color: red;
  }
  