body {background-color: #e7fffb;}

.navstyle{
    font-weight: bold;
    font-size:x-large;
    color:#10747d 
}

.jumbotron {
    background-color: #e7fffb;
}
.button {
    background-color: #10747d;
    border-radius: 15px;
    font-weight: bold;
}
h1{text-align: center;
font-weight: bold;
font-size:x-large;
}
.lead{text-align: center;
font-weight: bold;
font-size: x-large;
}
.header{
    font-weight: bolder;
    font-size: 112px;
    color:#10747d;
}